<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a class="show-add-form-category" href="#" data-toggle="modal" data-target=".bd-example-modal-lg"><button
                class="btn btn-primary">Add product</button></a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Created day</th>
                        <th>Updated day</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Created day</th>
                        <th>Updated day</th>
                    </tr>
                </tfoot>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Modal Update, Delete function -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelUpdateDelete"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelUpdateDelete">Modal title</h5>
                <button type="button" class="close btn-close-cate" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputUpdateDelete">Gender name</label>
                    <input type="email" class="form-control" id="exampleInputUpdateDelete" aria-describedby="emailHelp"
                        placeholder="Enter category name">
                    <small id="emailHelp" class="form-text text-muted">The change will affect other products</small>
                </div>
                <div class="form-group">
                    <div class="drop-zone update-delete-cate">
                        <span class="drop-zone__prompt">Drop file here or click to upload</span>
                        <input type="file" name="myCatFile" class="drop-zone__input">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger action-delete" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-primary action-update">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title add-product" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="close btn-close-cate" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputCreate">Product name</label>
                    <input type="text" class="form-control" id="exampleName" placeholder="Enter product name">
                </div>
                <div class="form-group">
                    <label for="exampleInputCreate">Price</label>
                    <input type="text" class="form-control" id="examplePrice"
                        placeholder="Enter product name">
                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" name="insertProduct" value="Add" class="btn btn-success action-add"
                    data-dismiss="modal"></input>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
            var fnf = document.getElementById("examplePrice");
            var n;
            fnf.addEventListener('keyup', function(evt){
                n = parseInt(this.value.replace(/\D/g,''),10) || '';
                fnf.value = n.toLocaleString();
            }, false);
            /*
        $("#examplePrice").on('keyup', function () { 
            console.log($(this).val())
            var nf = Intl.NumberFormat();
            //var n = parseInt($(this).val().replace(/\D/g, ''), 10);
            $(this).val(nf.format(parseInt($(this).val())));
            //do something else as per updated question
        });
        */
    })
</script>